<h1>ポーカー役判定</h1>  <!-- ページのタイトルを表示 -->

<!-- 入力フォーム -->
<form action="/" method="post">  <!-- フォームの送信先URLとHTTPメソッドを指定 -->
  <!-- フォームのラベル。手札をカンマ区切りで入力するように指示 -->
  <label for="cards">手札 (カンマ区切り):</label>
  <!-- テキスト入力欄 -->
  <!-- name属性：送信時にサーバーに渡されるパラメータ名 -->
  <!-- id属性：HTML内でこの要素を特定するための識別子 -->
  <!-- placeholder属性：入力欄に薄く表示されるガイドテキスト -->
  <input type="text" name="cards" id="cards" placeholder="AS, KS, QS, JS, 10S">
  
  <!-- 送信ボタン -->
  <!-- type="submit"：このボタンを押すとフォームが送信される -->
  <!-- value属性：ボタンに表示されるテキスト -->
  <input type="submit" value="判定する">
</form>

<!-- 判定結果表示 -->
<!-- @resultが存在するときのみ結果を表示 -->
<!-- RubyのERBテンプレートでは、<% %>はRubyコードを実行し、<%= %>はその結果をHTMLに埋め込む -->
<% if @result %>  <!-- インスタンス変数@resultがnilでなければ -->
  <!-- 手札の表示 -->
  <!-- @cards.join(', ')で配列@cardsをカンマ区切りの文字列に変換して表示 -->
  <p>手札: <%= @cards.join(', ') %></p>
  
  <!-- ポーカー役判定結果の表示 -->
  <!-- @result変数に格納されている役名を表示 -->
  <p>判定結果: <%= @result %></p>
<% end %>  <!-- if文の終了 -->
